body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    background: #333;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background: #555;
}

nav a.active {
    background: #d66801;
}


main section {
    margin: 20px;
    padding: 20px;
    background-color: white;
}


form input,
form textarea {
    display: inline-block;
    margin: 5px 0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer img {
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}