body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


nav ul {
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: #d66801;
}

main h1 {
    padding-left: 20px;
}

main section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 1px solid #ccc;
}

main section img {
    vertical-align: middle;
    margin-right: 10px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer img {
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}