body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


nav ul {
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: #d66801;
}


main h1 {
    padding-left: 20px;
}

main ol,
main ul {
    margin-left: 40px;
}

main section,
main li {
    margin: 20px;
}


table {
    border-collapse: collapse;
    margin: 10px 0;
}

table td {
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer img {
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}