body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 1px solid #ccc;
}

nav ul {
    list-style: none;
    background: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background: #555;
}


main h1 {
    margin: 20px;
}

#blinkit {
    width: 140px;
    height: 200px;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 356px;
    height: 200px;
    padding: 10px;
    transition: all 1s;
}

.project-images img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer img {
    vertical-align: middle;
    margin: 0 5px;
    width: 30px;
    height: auto;
    padding: 0;
}