* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ededed;
}

h1 {
    color: red;
    text-align: left;
}

#donor_info {
    padding-left: 10%;
}

span {
    color: red;
}

#small {
    font-size: 12px;
    color: black;
}

.label {
    text-align: right;
}

.recur {
    width: 40px;
}

#other {
    width: 220px;
}

.field {
    width: 250px;
}

#select_country {
    width: 250px;
}